@font-face {
    font-family: 'Heebo-Medium';
    src: url('fonts/Heebo-Medium.ttf') format('truetype');
}


@font-face {
    font-family: 'Heebo-Regular';
    src: url('fonts/Heebo-Regular.ttf') format('truetype');
}

body {
    color: #21243D;
    max-width: 1152px;
    margin: auto;
}

* {
    /* margin: 0px; */
    font-family: 'Heebo-Regular';
}


/* header */
header {
    padding: 27px 60px;
}

header .menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 33px;
    justify-content: end;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-family: Heebo-Medium;
    color: #000;
    font-size: 20px;
}

.menu ul li a:hover {
    color: #FF6464;
}

.menu ul li .active {
    color: #FF6464;
}

.menuline {
    display: none;
}







/* main */

main {
    margin: auto;
    padding: 10px;
    max-width: 682px;
}



/* container */
.title {
    font-size: 44px;
}



.container .item {
    width: 100%;
}




.item h2 {
    font-size: 30px;
    font-weight: 500;
}

.item p {
    font-size: 16px;
    margin: 15px 0px;
}


.item span {
    padding-right: 26px;
    font-weight: 400;
}

.item p .year {
    font-size: 20px;
}


.item p .name {
    font-size: 20px;
    color: #8695A4;
}



.line {
    margin: 29px 0px;
    width: 100%;
}







/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px 0px;

}

footer .icons svg {

    padding: 0px 17px;
    fill: #21243D;
}

footer p {
    padding: 26px 0px;
    color: #21243D;
    font-size: 14px;
}










/* header nav */
@media (max-width: 800px) {

    /* main */
    main {
        padding: 20px;
    }



    /* header nav */
    .menu {
        display: none;
    }

    header {
        padding: 20px;
    }

    .menuline {
        display: flex;
        justify-content: end;
    }







    /* container */
    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .right .about {
        margin-top: 30px;
    }








}